.inputContainer {
  display: grid;
  grid-template-areas:
    "label input"
    ". error";
  grid-template-columns: 75px 200px;
  grid-row: 1fr 20px;
  grid-column-gap: var(--spacing-04);
  grid-row-gap: var(--spacing-01);
  align-items: end;
  justify-content: center;
}

.inputLabel {
  grid-area: label;
  text-align: end;
}

.inputContainer:not(:first-child) {
  margin-top: var(--spacing-04);
}

.input {
  grid-area: input;
  height: 40px;
  padding: 0 var(--spacing-02);
  border: 2px solid #000101;
  border-radius: 5px;
}
