.input__container {
  display: grid;
  grid-template-columns: 75px 200px;
  text-align: end;
  grid-gap: 16px;
  align-items: end;
  justify-content: center;
}

.input__container:not(:last-child) {
  margin-bottom: 16px;
}

.input {
  padding: var(--spacing-02) var(--spacing-02);
  border: 2px solid #000101;
  border-radius: 5px;
}
