.fieldsetVertical {
  width: 500px;
  display: grid;
  grid-template-columns: 1fr;
}

.button {
  width: 100px;
  height: 40px;
  border-radius: 5px;
  justify-self: center;
  margin-right: var(--spacing-02);
  margin-top: var(--spacing-02);
  cursor: pointer;
}

.formButton {
  position: relative;
  border: 2px solid var(--black);
  background-color: transparent;
  padding: var(--spacing-02) var(--spacing-04);
  transition: transform 0.25s ease-in-out, color 0.25s ease-in-out;
  overflow: hidden;
  color: var(--black);
}

.formButton:hover {
  color: var(--white);
}

.formButton::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--black);
  z-index: -1;
  transform: translateX(-100%);
  transition: transform 0.25s ease-in-out;
}

.formButton:hover::before {
  color: var(--white);
  transform: translateX(0%);
}

.formButtonDisabled {
  border: 2px solid var(--grey);
  color: var(--grey);
  cursor: not-allowed;
}

.formErrorMessage {
  text-align: center;
  border: 2px solid var(--black);
  border-radius: 5px;
  font-size: var(--heading-font-03);
  padding: var(--spacing-07);
  margin-bottom: var(--spacing-07);
}
